
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.main-section{

width:100%;
height:90vh;
max-height: fit-content;
margin:0;
padding:0;
background-image:linear-gradient(to bottom, #051139, #50b6ff);
}

.main-section-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:100%;
  
}
.hero-panel{

    width:50%;
    height:100%;
     margin:auto;

}
.bank-image-container{

    align-items: center;
    width:50%;
    height:100%;
     margin:auto;
     display: flex;
     align-items: center;
}

.bank-image{
    width:80%;
    height:60%;
  
}

.content-container{
 
    font-family: 'Poppins', sans-serif;
    margin:auto;
    width:80%;
    height:fit-content;
}
    
.content-container >h1{
    text-transform: uppercase;
    font-size: clamp(1.5rem,5vw,4rem);
    color:#24d7d1;
    text-decoration-style: wavy;
}
.content-container >h2{
    
    font-size: clamp(1.2rem,2vw,4rem);
    color:#ffffff;
}
.content-container >h3{
    color:#ffffff;
    font-size: clamp(0.7rem,0.8vw,4rem);
    font-weight: 500;
}

.start-button{
    outline: 0;
    border:0;
    border-radius: 5px;
    background-color: #09bbb5;
    color: white;
    height:40px;
    width:120px;
    margin-top: 2rem;
    transition: 400ms;
}

.start-button:hover{
    transition: 400ms;
    cursor: pointer;
    background-color: white;
    color:black;
}

.bank-image-container {
    animation: slide 4s infinite linear;
    animation-direction: alternate;
  }
  
  @keyframes slide {
    from {
      transform: translateX(-30%);
    }
    to {
      transform: translateX(20%);
    }
  }

  @media screen and (max-width: 768px) {
    .bank-image{
        width:100%;
        height:40%;
        margin-top: -20rem;
      
    }
  }