@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400&family=Rubik:wght@300;400;500&family=Stick+No+Bills:wght@200;300;400&display=swap');

.account-details-section{
    min-height:90vh;
    height:auto;
    width:100%;
    
    background-image:linear-gradient(to bottom, #051139, #50b6ff);
}


.account-details-grid-wrapper{
    width:100%;
    height:100%;
    display:flow-root;

    /* grid-template-areas:"card card transact transact"
                        "card card loans loans"
                        "card card history history"
                        "deposit deposit withdraw withdraw";
                            grid-template-columns: 2fr 1fr 1fr 0.5fr;
    grid-template-rows:1fr 1fr 1fr 0.2fr; */
}



.inner-wrapper{
    margin:50px;
    display: flex; 
    justify-content: center;
}

.inner-wrapper1{
    font-size: xx-small;
    /* display: flex; */
}

.inner-wrapper2{
    margin-left:4rem;
    font-size: xx-small;
    /* display: flex; */
}

.inner-wrapper3{
    margin-left:4rem;
    font-size: xx-small;
    /* display: flex; */
}

.account-card{
    font-family: 'Rubik', sans-serif;
    width: 72rem;
    height: 20rem;
    font-size:smaller;
    margin:100px 60px;
    padding-top: 1rem;
    border-radius:10px;
    background-color: rgb(111, 159, 237);
    color:white;
    grid-area:card;
}


.add-balance-card{
    margin: -4rem 5rem;
    grid-area:deposit;
    font-size:small;
    color: #ffffff;
    font-weight:bold;
}

.withdraw-balance-card{
    margin-top: -5rem;
    margin-left: 45rem;
    grid-area:withdraw
}

.withdraw-balance-card>h1{
    color: white;
    font-size:small;
}

.transfer-balance-card{
    display: flex;
    flex-direction: column;
     margin:30px;
    grid-area:transact
}

.transfer-balance-card>h1{
    color:white;
}

.loan-transaction-card>h1{
    color:white
}

.add-balance-card>h1{
    color:white
}

.loan-transaction-card{
     margin:30px;
    grid-area:loans
}

.form-input-account{
  outline:none;
  border:none;
  height:34px;
  width:250px;
  font-size: clamp(1.0rem,1.2rem,1.0rem);
}

.transact-from{
    display: flex;
    flex-direction:column;
}

.transaction-history{
    grid-area:history;
    margin:30px;

}

.transaction-history>h1{
    color:white;
}
.approve-button{
    margin-left:10px;
    background-color:#09bbb5;
    height:40px;
    width:220px;
    color:white;
    border-radius: 10px;
    outline: none;
    border:none;
}

.approveadd-button{
    margin-left:10px;
    background-color:#09bbb5;
    height:40px;
    width:220px;
    color:white;
    border-radius: 10px;
    outline: none;
    border:none;
}

.appprove-button{
    margin-left:10px;
    background-color:#09bbb5;
    height:40px;
    width:220px;
    color:white;
    border-radius: 10px;
    outline: none;
    border:none;
}

.approvewithdrawal-button{
    margin-left:10px;
    background-color:#09bbb5;
    height:40px;
    width:220px;
    color:white;
    border-radius: 10px;
    outline: none;
    border:none;
}

.approve-transbutton{
    margin-left:4rem;
    background-color:#09bbb5;
    height:40px;
    width:220px;
    color:white;
    border-radius: 10px;
    outline: none;
    border:none;
}

.approve-button:hover{
    cursor:pointer;
    transition: 400ms;
    background-color: white;
    color:black;
    height:40px;

}

.approve-transbutton:hover{
    cursor:pointer;
    transition: 400ms;
    background-color: white;
    color:black;
    height:40px;

}

.account-menu{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .account-details-grid-wrapper {
      display: block;
    }
  
    .account-card {
      width: 70%;
      margin: 30px auto;
    }
  
    .add-balance-card{
      /* margin: 15px; */
      margin-top: 15rem;
      margin-left: 4rem;
    }

    .withdraw-balance-card {
        /* margin: 15px; */
        margin-top: 6rem;
        margin-left: 4rem;
      }
  
    .approve-button {
      margin-left: -1.5rem;
      margin-top: 2rem;
      width: 120%;
      font-size: smaller;
    }

    .approveadd-button {
        margin-left: 0rem;
        margin-top: 2rem;
        width: 116%;
        font-size: smaller;
      }
  

    .approve-transbutton{
        margin-left: -1.5rem;
        margin-top: 0rem;
        width: 120%;
        font-size: smaller;
      }

      .appprove-button{
        margin-left: -1.5rem;
        margin-top: 0rem;
        width: 120%;
        font-size: smaller;
      }
  
    .approvewithdrawal-button{
        margin-left: -0.5rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        width: 90%;
        font-size: smaller;
      }
    .inner-wrapper,
    .inner-wrapper1,
    .inner-wrapper2,
    .inner-wrapper3 {
      margin: 10px;
      font-size: smaller;
    }
  
    .inner-wrapper {
      display: initial;
    }

    .account-menu {
        display: initial;
        margin-top: 10rem;
      }
  }
  
  


