@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@400;500&family=Source+Sans+Pro&display=swap");
.navbar {
  height: 10vh;
  width: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: #051139;
}

.navlogocontainer {
  display: flex;
  width: 100px;
  font-family: "Gluten", cursive;
}

.navlogocontainer > h1 {
  color: #077fef;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  cursor: pointer;
  margin-left: 4rem;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 2rem;
}

.hamburger-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: 0.3s;
}

.navlistcontainer {
  min-width: 150px;
  margin-right: 4rem;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
}

.navlist {
  display: flex;
  list-style: none;
  margin: auto;
  width: max-content;
}

.navlist > li {
  margin-right: 10px;
}

.navlist > li > a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 511px) {
  .navlistcontainer {
    display: none;
  }
}
