.transaction-section {
    height:90vh;
    display:flex;
    flex-wrap:wrap;
    background-image:linear-gradient(to bottom, #051139, #50b6ff);
}

.transfer-button{
    cursor:pointer;
}

.transfer-section-wrapper{
    margin:50px 100px;
    display:flex;
    flex-direction:column;
}

.transfer-section-wrapper>h1{
    font-weight:800;
    font-size:clamp(1.2rem,3.0rem,3rem);
    color: #24d7d1;
}

.transfer-section-wrapper>h2{
    font-size: 500;
    font-size:(1rem,2rem,4rem);
    color: #ffffff;

}

.transaction-form{
    display:flex;
    flex-direction: column;

}

.transaction-input{
    margin:20px 0;
    width:800px;
    height:50px;
    background-color: black;
    padding-left: 1rem;
    color:white;
    outline:none;
    border:none;
    font-size:clamp(1rem,1.0rem,1.5rem);
    border-radius:10px ;

}

.transfer-button{
    color:#ffffff;
    background-color: #09bbb5;
    border-radius:10px;
    outline:none;
    border:none;
    height:40px;
    width:200px;
}

.transfer-button:hover{
    transition: 400ms;
    color:black;
    background-color: #ffffff;
    cursor:pointer;
}

@media screen and (max-width: 768px) {
    .transaction-section {
      height: auto;
      min-height: 90vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .transfer-section-wrapper {
      margin-left: -7rem;
    }
  
    .transfer-section-wrapper > h1 {
    font-size: clamp(1.0rem, 2.5rem, 2.0rem);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
   
    }
  
    .transfer-section-wrapper > h2 {
      font-size: 0.83rem;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .transaction-input {
      width: 100%;
      
    }

    .transaction-form{
        width: 70%;
        
      }
  }

  